body {
  background: #D3FFCA;
}

.title {
  font-size: 80px;
  font-family: "Ballet", "Cursive";
  text-align: center;
}

.p {
  font-size: 30px;
  text-align: justify;
  font-family: "Balsamiq Sans", "Cursive";
}

.repositorios {
  position: relative;
  font-size: 80px;
  text-align: center;
  font-family: 'Pattaya', sans-serif;
  text-decoration: none;
  opacity: 0;
  transition: all 1.2s;
}

.repositorios:hover {
  color: black;
  opacity: 1;
}

.redes {
  font-family: 'Bebas Neue', "cursive";
  text-align: center;
}

.redes_text_title {
  font-size: 90px;
}

.redes_text {
  font-size: 35px;
}

.return {
  text-align: center;
}

[title="mi_logo"] {
  margin: auto;
  display: block;
}

#audio {
  /* Usaría position: relative pero esto es especial*/
  position: fixed;
  z-index: 5;
  top: 10px;
  left: 10px;
}

h3 {
  margin: 0;
}

@media only screen and (max-width: 670px) {

  body {
    padding-top: 0;
  }
  
  .title {
    margin-top: 60px;
    font-size: 40px;
  }

  audio {
    width: 20%;
    display: block;
    margin: auto;
  }

  .p {
    font-size: 15px;
  }

  div img {
    width: 15px;
  }

  .redes_text_title {
    font-size: 40px;
  }

  .redes_text {
    font-size: 20px;
  }

  .repositorios {
    font-size: 65px;
  }

  
  [title="mi_logo"] {
    width: 200px;
    margin: auto;
    display: block;
  }

  .repositorios {
    font-size: 50px;
  }
  
}