* {

  margin: 0;
  padding: 0;
}

nav {

  margin-bottom: 20px;

}

ul {

  display: flex;
  justify-content: space-evenly;
  background-color: #000;
  text-align: center;
  padding: 2vw;

}

li {
  display: inline;
  cursor: pointer;
}


li a {
  
  text-decoration: none;
  color: #fff;
  font-size: 2vw;
  font-family: 'Coiny', cursive;
  padding: 2vw;
}

li a:hover {

  background-color: #c4c4c4;
  color: #000;
  text-decoration: underline;

}

li a:active {

  color: #fff;
  background-color: #000;

}

main {

  display: flex;
  justify-content: center;

}

button {
  
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  font-size: 30px;
  background: rgb(14,36,96);
  background: linear-gradient(45deg, rgba(14,36,96,1) 0%, rgba(23,136,176,1) 25%, rgba(0,212,255,1) 100%);
  padding: 20px 30px;
  border-radius: 10px;

}

button a {
  text-decoration: none;
  color: #fff;
}

button a:hover {
  
  text-decoration: underline;
  
}

footer {

    display: block;
    margin: auto;
    text-align: center;
    padding: 10px;
    outline: 1px solid #000;
    background-color: #fffd;

}

@media (max-width: 725px) {

  ul {

    flex-direction: column;

  }

  li {

    
    margin: 10px auto;

  }

  li a {
    font-size: 5vw;;
  }

}