* {

  margin: auto;
  padding: auto;

}

nav {

  margin-bottom: 50px;

}

ul {

  background-color: #000;
  padding: 20px 150px;
  text-align: center;

}

li {
  display: inline;
  cursor: pointer;
}


li a {
  
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: 'Coiny', cursive;
  padding: 20px 150px;
  transition: background-color .2s;

}

li a:hover {

  background-color: #c4c4c4;
  color: #000;
  text-decoration: underline;

}

li a:active {

  color: #fff;
  background-color: #000;

}

footer {

    display: block;
    margin: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fffd;

}

.redes_title {
  font-size: 90px;
  text-decoration: underline;
  margin-bottom: 50px;
}

.redes_subtitle {
  font-size: 35px;
  margin-bottom: 25px;
}

.icons_redes {

  width: 22px;

}

.redes {
  font-family: 'Bebas Neue', "cursive";
  text-align: center;
}

@media (max-width: 1480px) {

  ul {

    padding: 20px 20px;

  }

  li a {

    padding: 20px 150px;

  }

  main {

    margin: 20px 100px 80px 50px;

  }
  
}

@media (max-width: 1300px) {

  ul {

    padding: 20px 20px;

  }

  li a {

    padding: 20px 120px;

  }
  
}

@media (max-width: 1060px) {

  ul {

    padding: 20px 20px;

  }

  li a {

    padding: 20px 90px;

  }

  main {

    margin: 5px 60px 80px 50px

  }
  
}

@media (max-width: 880px) {

  ul {

    padding: 20px 20px;

  }

  li a {

    padding: 20px 60px;

  }

}

@media (max-width:680px) {

  li a {

    padding: 10px 30px;

  }

  main {

    margin: 10px 50px 80px 50px;
    padding: 40px;

  }
  
}

@media (max-width: 500px) {

  li a {

    display: block;
    font-size: 20px;

  }

  nav {

    margin-bottom: 10px;

  }

  main {

    margin: 0;

  }

  .redes_subtitle {

    font-size: 30px;

  }

}

@media (max-width: 420px) {

  main {

    padding: 20px;

  }

}

@media (max-width: 365px) {

  .redes_title {

    font-size: 70px;

  }

}

@media (max-width: 320px) {

  .redes_title {

    font-size: 50px;

  }

  .redes_subtitle {

    font-size: 20px;

  }

  .icons_redes {

    width: 15px;

  }
  
}